.children{
    background-color: aqua;
    border:4px solid black;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.project{

    background-color:#E1F0DA ;
    border: 2px solid black;
    color: #FB88B4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 50px;

}