
.parent{
    background-color: aqua;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

ul{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

li{
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 30px;
    list-style: none;
}
li i{
    margin-right: 4px;
}